<ion-view title="Dúvidas">
        <ion-nav-buttons side="left">
        </ion-nav-buttons>
        <ion-content>
                <!--<div class="row">
                        <div class="col">
                                <img class="icon-duvidas" src="img/escritorio2.png" alt="Sedentário">
                                <h2 class="titulo-duvidas">Sedentário</h2>
                                <p class="p-duvidas">Você passa a maior parte do dia sentado.<br>(Caixa De Banco, Trabalho De Mesa)</p>
                        </div>
                        <div class="col">
                                <img class="icon-duvidas" src="img/professor6.png" alt="Atividade leve">
                                <h2 class="titulo-duvidas">Atividade leve</h2>
                                <p class="p-duvidas">Você passa uma boa parte do dia em pé.<br>(Professor, Vendedor)</p>
                        </div>
                </div>
                <div class="row">
                        <div class="col">
                                <img class="icon-duvidas" src="img/garçonete.png" alt="Ativo">
                                <h2 class="titulo-duvidas">Ativo</h2>
                                <p class="p-duvidas">Você passa uma boa parte do dia dazendo atividades físicas.<br>(Garçonete, Carteiro)</p>
                        </div>
                        <div class="col">
                                <img class="icon-duvidas" src="img/carpinteiro3.png" alt="Muito ativo">
                                <h2 class="titulo-duvidas">Muito ativo</h2>
                                <p class="p-duvidas">Você passa a maior parte do dia fazendo atividade físicas pesadas.<br>(Pedreiro, Carpinteiro)</p>
                        </div>
                </div>-->
                <ion-list>
                        <ion-item class="item-thumbnail-left">
                                <img src="img/escritorio2.png" alt="Sedentário">
                                <h2>Sedentário</h2>
                                <p>Você passa a maior parte do dia sentado.<br>(Caixa De Banco, Trabalho De Mesa)</p>
                        </ion-item>
                        <ion-item class="item-thumbnail-left">
                                <img src="img/professor6.png" alt="Atividade leve">
                                <h2>Atividade leve</h2>
                                <p>Você passa uma boa parte do dia em pé.<br>(Professor, Vendedor)</p>
                        </ion-item>
                        <ion-item class="item-thumbnail-left">
                                <img src="img/garçonete.png" alt="Ativo">
                                <h2>Ativo</h2>
                                <p>Você passa uma boa parte do dia fazendo<br>atividades físicas.<br>(Garçonete, Carteiro)</p>
                        </ion-item>
                        <ion-item class="item-thumbnail-left">
                                <img src="img/carpinteiro3.png" alt="Muito ativo">
                                <h2>Muito ativo</h2>
                                <p>Você passa a maior parte do dia fazendo<br>atividades físicas pesadas.<br>(Pedreiro, Carpinteiro)</p>
                        </ion-item>
                </ion-list>
        </ion-content>
</ion-view>