<ion-view title="Dúvidas">
        <ion-nav-buttons side="left">
        </ion-nav-buttons>
        <ion-content>
                <div class="list">
                        <div class="item item-thumbnail-left">
                                <img src="img/emagrecer.png">
                                <h2>Perder Peso</h2>
                                <p>Nine Inch Nails</p>
                        </div>
                        <div class="item item-thumbnail-left">
                                <img src="img/manter.png">
                                <h2>Manter Peso</h2>
                                <p>Nine Inch Nails</p>
                        </div>
                        <div class="item item-thumbnail-left">
                                <img src="img/engordar.png">
                                <h2>Ganhar Peso</h2>
                                <p>Nine Inch Nails</p>
                        </div>
                </div>
        </ion-content>
</ion-view>