<ion-view title="Dúvidas">
    <ion-nav-buttons side="left">
        <button ng-click="voltar()" class="button icon-left ion-chevron-left button-clear"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/escritorio.png" alt="Sedentário">
                <h2>Sedentário</h2>
                <p>Você passa a maior parte do dia sentado.<br>(Caixa De Banco, Trabalho De Mesa)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/professor.png" alt="Atividade leve">
                <h2>Atividade leve</h2>
                <p>Você passa uma boa parte do dia em pé.<br>(Professor, Vendedor)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/garçonete.png" alt="Ativo">
                <h2>Ativo</h2>
                <p>Você passa uma boa parte do dia fazendo<br>atividades físicas.<br>(Garçonete, Carteiro)</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/carpinteiro.png" alt="Muito ativo">
                <h2>Muito ativo</h2>
                <p>Você passa a maior parte do dia fazendo<br>atividades físicas pesadas.<br>(Pedreiro, Carpinteiro)</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>