<ion-view title="Dúvidas">
    <ion-nav-buttons side="left">
        <button ng-click="voltar()" class="button icon-left ion-chevron-left button-clear"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/emagrecer.png">
                <h2>Perder Peso</h2>
                <p>Você quer emagrecer</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/manter.png">
                <h2>Manter Peso</h2>
                <p>Você quer manter o seu peso atual</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/engordar.png">
                <h2>Ganhar Peso</h2>
                <p>Você quer ganhar peso</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>