<ion-view title="Comidas favoritas">
    <ion-content class="fundo-cinza">
        <ion-list>
            <ion-item class="item-fundo-cinza">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </ion-item>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/French.png" />
                    <h2 class="title-comida">Batata frita</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/Hot-dog.png" />
                    <h2 class="title-comida">Cachorro-quente</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/Sushi.png" />
                    <h2 class="title-comida">Sushi</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/Pizza.png" />
                    <h2 class="title-comida">Pizza</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>