<ion-view title="Comidas customizadas">
    <ion-nav-buttons side="right">
        <button ng-click="showCreatefoods()" class="button button-icon icon ion-android-add-circle"></button>
    </ion-nav-buttons>
    <ion-content class="fundo-cinza">
        <ion-list>
            <ion-item class="item-fundo-cinza">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </ion-item>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/Pear.png" />
                    <h2 class="title-comida">Pêra</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/Pizza.png" />
                    <h2 class="title-comida">Pizza</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
            <div class="card">
                <div class="item item-text-wrap">
                    <img class="img-comida" src="img/prato.png" />
                    <h2 class="title-comida">Arroz cozido</h2>
                    <p>1 unidade = 200 kcal</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>