<ion-view title="Resultado">
    <ion-content>
        <ion-list>
            <ion-item>
                <div clas<s="row">
                    <div class="col">
                        <center>
                            <img src="img/calorias.png" width="80px" height="80px" alt="pão">
                            <br>
                            <label class="titulo-calculo">Calorias sugeridas</label>
                            <br>
                            <p class="calorias">{{teste}} kcal</p>
                        </center>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-input item-select">
                <div class="input-label">
                    <label style="font-size: 17px;">Refeições por dia</label>
                </div>
                <select>
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                </select>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-20">
                        <img src="img/frango.png" width="50px" height="50px" alt="pão">
                    </div>
                    <div class="col">
                        <label class="titulo-calculo">Proteínas</label>
                        <p>116 Gramas por dia</p>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-20">
                        <img src="img/abacate.png" width="50px" height="50px" alt="pão">
                    </div>
                    <div class="col">
                        <label class="titulo-calculo">Gorduras</label>
                        <p>53 Gramas por dia</p>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <div class="row">
                    <div class="col col-20">
                        <img src="img/pao.png" width="50px" height="50px" alt="pão">
                    </div>
                    <div class="col">
                        <label class="titulo-calculo">Carboidratos</label>
                        <p>109 Gramas por dia</p>
                    </div>
                </div>
            </ion-item>
            <!--
            <ion-item>
                <div class="row">
                    <div class="col col-20">
                        <img src="img/alface.png" width="50px" height="50px" alt="pão">
                    </div>
                    <div class="col">
                        <label class="titulo-calculo">Fibras</label>
                        <p>19 Gramas por dia</p>
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <button class="button button-full button-assertive" type="submit">Re-Calcular</button>
            </ion-item>-->
        </ion-list>
    </ion-content>
</ion-view>