<ion-view hide-nav-bar="true" title="Tela inicial">
    <ion-content style="background-color: #ef473a">
        <div class="row">
            <div class="col">
                    <center>
                        <img class="logo" id="centro" src="img/logo.png" alt="">
                    </center>
                    <h1 style="margin-top: 0px; padding-top: 0pc;" class="dieta-flexivel">Dieta Flexível</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-outline button-light button-outline-light" ng-click="showCadastro()">Cadastre-se</button>
            </div>
            <div class="col">
                <button class="button button-block button-outline button-light button-outline-light" ng-click="showLogin()">Login</button>
            </div>
        </div>
    </ion-content>
</ion-view>