/* Empty. Add your own CSS if you like */

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 1em;
}

.card {
    margin: 16px;
}

.img-comida {
    width: 15%;
    float: left;
    margin-top: 0% !important;
}

.title-comida {
    text-align: left;
    margin-left: 15% !important;
}

.fundo-cinza {
    background-color: #f9f9f9;
}

.item-fundo-cinza {
    padding-bottom: 1px !important;
    background-color: #f9f9f9;
    border-bottom: none;
}

.input-date {
    font-size: 1em;
    background-color: transparent;
    color: #fff !important;
    font-weight: bold;
    text-transform: uppercase;
}

.dieta-margin {
    margin-top: 50%;
}

.dieta-numbers {
    color: #4e8ef7;
}

.span-gramas {
    position: absolute;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 6%;
    color: #666;
}

.progress-cicle {
    border: 0;
    background: #f3f3f3;
}

.progress {
    border: 0;
    height: 22px;
    background: #f3f3f3;
    border-radius: 9px;
}

.progress>span {
    position: relative;
    float: left;
    height: 22px;
    text-align: right;
    border-radius: 9px;
}

.progress>span>span {
    padding: 0 8px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
}

.progress>span:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 22px;
    border-radius: 10px;
}

.progress .orange {
    border: 0;
    height: 22px;
    background: #ff7043;
    border-radius: 9px;
}

.progress .green {
    border: 0;
    height: 22px;
    background: #558b2f;
    border-radius: 9px;
}

.progress .yellow {
    border: 0;
    height: 22px;
    background: #ffb300;
    border-radius: 9px;
}

.chart {
    margin-top: 20%;
    position: relative;
    width: 155px;
    height: 155px;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.span1 {
    display: block;
    text-align: center;
    color: #666;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 120px;
}

.span2 {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: -30% !important;
}

#dieta-titles-left {
    padding-left: 0%;
    margin-bottom: 17%;
    text-align: left;
}

#dieta-titles-right {
    padding-left: 0%;
    margin-bottom: 17%;
    text-align: right;
}

.fundo {
    background: url('../img/fundo.png')!important;
    background-repeat: repeat-x;
}

.div-icons {
    width: 100%;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 6%;
}

.button-duvida {
    background-color: transparent;
    border: none;
    font-size: 1.6em;
    float: right;
    margin-top: 0;
    padding: 0;
}

#padding {
    padding-left: 5%;
    padding-right: 5%;
}

.margin-radio {
    margin-top: 2%
}

.titulo-calculo {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.42857;
}

.icon-secretario {
    width: 50px;
    height: 50px;
    float: left;
}

.icon-prof {
    /*margin-left: 10%;*/
    width: 50px;
    height: 50px;
    margin: auto;
}

.icon-garçonete {
    /*margin-left: 11%;*/
    width: 50px;
    height: 50px;
}

.icon-pesado {
    float: right;
    /*margin-left: 10%;*/
    width: 50px;
    height: 50px;
}

.icon-duvidas {
    height: 80px;
    width: 80px;
    float: left;
}

.input-calculo {
    width: 100%;
    min-height: 40px;
    margin: 0px;
}

.metragem-calculo {
    font-size: 0.9em !important;
    font-weight: bold;
    color: #ef473a !important;
    width: 100%;
    margin-left: 40%;
}

.calorias {
    font-size: 1.2em !important;
    font-weight: bold;
    color: #ef473a !important;
}

.dieta-flexivel {
    text-align: center;
    color: white;
    font-weight: bold;
}

.logo {
    width: 22vh;
    height: 22vh;
    margin-top: 20%;
    padding-bottom: 0px !important;
    margin-bottom: 0px;
}

.bar-user {
    border: none;
    background-color: #ef473a;
    color: #fff !important;
}

#marginTop {
    margin-top: 10% !important;
}

.button-outline-light {
    border: 2px solid #fff !important;
    color: #fff !important;
    font-size: 1.15em !important;
    margin-top: 4% !important;
}

.erro {
    font-weight: bold;
    color: #ef473a !important;
}


/*Iphone 5

@media (max-width: 320px) {
    .icon-secretario {
        float: left;
        width: 40px;
        height: 40px;
    }
    .icon-prof {
        width: 40px;
        height: 40px;
    }
    .icon-garçonete {
        width: 40px;
        height: 40px;
    }
    .icon-pesado {
        width: 40px;
        height: 40px;
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        font-size: 15px;
    }
    .titulo-calculo {
        font-size: 15px;
    }
    .item p {
        font-size: 11px;
    }
    .item {
        font-size: 14px;
    }
    .metragem-calculo {
        font-size: 11px !important;
        margin-left: 0%;
    }
}


/*iPad Pro

@media (min-width:768px) {
    .icon-secretario {
        float: left;
        width: 80px;
        height: 80px;
    }
    .icon-prof {
        width: 80px;
        height: 80px;
    }
    .icon-garçonete {
        width: 80px;
        height: 80px;
    }
    .icon-pesado {
        width: 80px;
        height: 80px;
    }
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"] {
        font-size: 30px;
    }
    .titulo-calculo {
        font-size: 31px;
    }
    .item p {
        font-size: 28px;
    }
    .item {
        font-size: 29px;
    }
    .button {
        font-size: 27px;
        min-height: 57px;
    }
}


/*Galaxy S5

@media (width:360px) {
    .metragem-calculo {
        font-size: 13px !important;
        margin-left: 0%;
    }
}

*/